* {
    box-sizing: border-box;
}
html,body {
    font-size: 16px;
}
.container {
    display: flex;
}
main {
    width: 60%;
}
aside {
    width: 40%;
}
section,
aside {
    border: 1px solid black;
}
header {
    padding: 0
}


/* ============ */
/* Auto setting the aspect ratio of iframe, you can check out the original code in following stackoverflow link */
/* https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video/54924505#54924505 */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* ============ */
.flex {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 8px;
}
.bi {
    font-size: 24px;
}
/* .nav-search input{
    padding: 1px 2px;
    height: 100%;
    width: 80%;
} */
.nav-search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 2px 0px 2px 6px;
    width: 90%;
    height: 40px;
    background-color: #121212;
}
.bi-search {
    border: none;
    padding: 0;
}
.search {
    text-align: center;
    width: 64px;
    height: 40px;
    border: 1px solid black;
    padding: 1px 6px;
    line-height: 40px;
    background-color: #323232;
}
.brand {
    width: 20%;
}
.input {
    width: 50%;
}
.option {
    width: 30%;
}
.flex {
    display: flex;
}
.nav-input {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: #888888;
}
.flex-2 {
    flex: 2 0 200px;
}
.flex-3 {
    flex: 3 0 200px;
}
.flex-5 {
    flex: 5 0 200px;
}
.flex-space {
    justify-content: space-evenly;
}
.space-between {
    justify-content: space-between;
}
/* .icon-mic {
    border-radius: 50%;
    border: 1px solid black;
    padding: 8px;
} */
.round {
    border-radius: 50%;
}
.border-none {
    border: 0;
}

@media screen and (max-width: 900px) {
    .nav-search {
        width: 85%;
    }
    .input {
        width: 42%;
    }
    .brand {
        width: 28%;
    }
}

@media screen and (max-width: 700px) {
    .nav-search {
        width: 80%;
    }
    .input {
        input: 36%
    }
    .brand {
        width: 34%;
    }
}