* {
    box-sizing: border-box;
}
.container {
    display: flex;
}
main {
    width: 60%;
}
aside {
    width: 40%;
}
section,
aside {
    border: 1px solid black;
}


/* ============ */
/* Auto setting the aspect ratio of iframe, you can check out the original code in following stackoverflow link */
/* https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video/54924505#54924505 */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* ============ */

.nav {
    display: flex;
    justify-content: space-between;
}