/* || Global */
* {
    box-sizing: border-box;
}
html,body {
    font-size: 16px;
    min-width: 460px;
}

/* || Element */
header {
    background-color: #212121;
    color: #FFFFFF;
    padding: 0
}
main {
    width: 60%;
}
aside {
    width: 40%;
}
section,
aside {
    border: 1px solid black;
}
i {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 8px;
}

/* || Class */
.container {
    display: flex;
}
.flex {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-input {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: #888888;
    justify-content: space-between;
}
.nav-search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 2px 0px 2px 6px;
    width: 90%;
    height: 40px;
    background-color: #121212;
}
.bi {
    font-size: 24px;
}
.bi-search {
    border: none;
    padding: 0;
}
.brand {
    width: 20%;
    justify-content: flex-start;
}
.input {
    width: 45%;
}
.options {
    width: 35%;
    justify-content: space-evenly;
}
.search {
    text-align: center;
    width: 64px;
    height: 40px;
    border: 1px solid black;
    padding: 1px 6px;
    line-height: 40px;
    background-color: #323232;
}
.options .search {
    display: none;
}
.border-none {
    border: 0;
}
.login {
    border: 1px solid #FFFFFF;
    padding: 8px 12px;
}
/* ============ */
/* Auto setting the aspect ratio of iframe, you can check out the original code in following stackoverflow link */
/* https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video/54924505#54924505 */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* ============ */

/* || Utilities  */

/* || Media Queries */
@media screen and (max-width: 900px) {
    .nav-search {
        width: 85%;
    }
    .input {
        width: 42%;
    }
    .brand {
        width: 21%;
    }
}

@media screen and (max-width: 752px) {
    .nav-search {
        width: 80%;
    }
    .input {
        width: 36%;
    }
    .brand {
        width: 22%;
    }
}
@media screen and (max-width: 700px) {
    .brand {
        width: 25%;
    }
    .input {
        width: 30%;
    }
}
@media screen and (max-width: 615px) {
    .brand {
        width: 28%;
    }
    .input {
        width: 26%;
    }
}
@media screen and (max-width: 560px) {
    .brand {
        width: 35%;
    }
    .input {
        display: none;
    }
    .options {
        width: 65%;
    }
    .options .search {
        display: block;
        /* border: none; */
        background-color: transparent;
    }
}